    <!-- Page Header -->
                <div class="bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo31@2x.jpg');">
                    <div class="bg-black-op">
                        <div class="content content-narrow">
                            <div class="block block-transparent">
                                <div class="block-content block-content-full">
                                    <h1 class="h1 font-w300 text-white animated fadeInDown push-50-t push-5">Activity Dashboard</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Page Content -->
                <div class="content content-narrow">

                    <!-- Dashboard Cards -->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Clients Card -->
                            <div class="block">
                                <div class="bg-image" style="background-image: url('assets/img/photos/photo33.jpg');">
                                    <div class="bg-black-op">
                                        <div class="block-content text-center">
                                            <h3 class="h2 font-w300 text-uppercase text-white push-50-t">Clients Seen</h3>
                                            <h4 class="h5 text-white-op push-50">Arizona, US</h4>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-black-op">
                                            <div class="row push-5-t push-5">
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">8</div>
                                                    <div class="h5 text-muted push-5-t">Today</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">14</div>
                                                    <div class="h5 text-muted push-5-t">This Week</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">24</div>
                                                    <div class="h5 text-muted push-5-t">This Month</div>
                                                </div>
                                                <!-- would have liked a sparkline here but cou;dn't get it to work -->
                                                <!--div class="col-xs-3 col-sm-4">
                                                    <span class="js-slc-bar1"><canvas width="106" height="70" style="display: inline-block; width: 106px; height: 70px; vertical-align: top;"></canvas></span>
                                                </div-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Clients Card -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Recorded Services Card -->
                            <div class="block">
                                <div class="bg-image" style="background-image: url('assets/img/photos/photo33.jpg');">
                                    <div class="bg-black-op">
                                        <div class="block-content text-center">
                                            <h3 class="h2 font-w300 text-uppercase text-white push-50-t">Services Recorded</h3>
                                            <h4 class="h5 text-white-op push-50">Arizona, US</h4>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-black-op">
                                            <div class="row push-5-t push-5">
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">12</div>
                                                    <div class="h5 text-muted push-5-t">Today</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">22</div>
                                                    <div class="h5 text-muted push-5-t">This Week</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">40</div>
                                                    <div class="h5 text-muted push-5-t">This Month</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Recorded Services Card -->
                        </div>   
                        <div class="col-lg-6">
                            <!-- Progress Notes Card -->
                            <div class="block">
                                <div class="bg-image" style="background-image: url('assets/img/photos/photo33.jpg');">
                                    <div class="bg-black-op">
                                        <div class="block-content text-center">
                                            <h3 class="h2 font-w300 text-uppercase text-white push-50-t">Progress Notes Documented</h3>
                                            <h4 class="h5 text-white-op push-50">Arizona, US</h4>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-black-op">
                                            <div class="row push-5-t push-5">
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">12</div>
                                                    <div class="h5 text-muted push-5-t">Today</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">22</div>
                                                    <div class="h5 text-muted push-5-t">This Week</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">40</div>
                                                    <div class="h5 text-muted push-5-t">This Month</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Progress Notes Card -->
                        </div>   
                        <div class="col-lg-6">
                            <!-- Sync Timeliness Card -->
                            <div class="block">
                                <div class="bg-image" style="background-image: url('assets/img/photos/photo33.jpg');">
                                    <div class="bg-black-op">
                                        <div class="block-content text-center">
                                            <h3 class="h2 font-w300 text-uppercase text-white push-50-t">Sync Timeliness (days)</h3>
                                            <h4 class="h5 text-white-op push-50">Arizona, US</h4>
                                        </div>
                                        <div class="block-content block-content-full text-center bg-black-op">
                                            <div class="row push-5-t push-5">
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white"> < 1</div>
                                                    <div class="h5 text-muted push-5-t">Today</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">4</div>
                                                    <div class="h5 text-muted push-5-t">This Week</div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="h2 font-w300 text-white">8</div>
                                                    <div class="h5 text-muted push-5-t">This Month</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Sync Timeliness Card -->
                        </div> 
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Lines Chart -->
                            <div class="block">
                                <div class="block-header">
                                    <h3 class="block-title">Number of PNs created vs. submitted within 3 days</h3>
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <!-- Lines Chart Container -->
                                    <div style="height: 330px;"><canvas id="my_line_chart_09" class="js-chartjs-lines"></canvas></div>
                                </div>
                            </div>
                            <!-- END Lines Chart -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Bars Chart -->
                            <div class="block">
                                <div class="block-header">
                                    <h3 class="block-title">Services Recorded vs. Average</h3>
                                </div>
                                <div class="block-content block-content-full text-center">
                                    <!-- Bars Chart Container -->
                                    <div style="height: 330px;"><canvas id="my_bar_chart_01" class="js-chartjs-bars"></canvas></div>
                                </div>
                            </div>
                            <!-- END Bars Chart -->
                        </div>
                    </div>
                    </div>
                    <!-- END Dashboard Cards -->
                </div>
                <!-- END Page Content -->
				<script src="assets/js/base_comp_charts_generic.js"></script>
				<script>
				
            jQuery(function () {
                // Init page helpers (BS Datepicker + BS Datetimepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Input + Range Sliders + Tags Inputs plugins)
                //App.initHelpers(['datepicker', 'datetimepicker', 'select2']);
				//alert("in jquery function");
				$('.nav-tabs a').on('shown.bs.tab', function (e) {
					// add the related JS code init sparkline (found in js/pages/base_comp_charts.js)
					//alert("tab shown");
					BaseCompCharts.init();
				});
            });
        </script>	