<!-- Main Container -->
<main id="main-container">
<!-- Page Content -->
<div class="content content-boxed">
    <!-- User Header -->
    <div class="block">
        <!-- Basic Info -->
        <div>
            <div class="block-content bg-primary-op text-center overflow-hidden">
                <div class="push-10-t push animated fadeInDown">
                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar10.jpg" alt="">
                </div>
                <div class="push-10 animated fadeInUp">
                    <h2 class="h4 font-w600 text-white push-5">John Doe</h2>
                    <h3 class="h5 text-white-op">High Needs Case Manager</h3>
                </div>
            </div>
        </div>
        <!-- END Basic Info -->

        <!-- Stats -->
        <div class="block-content text-center">
            <div class="row items-push text-uppercase">
                <div class="col-xs-6 col-sm-3">
                    <div class="font-w700 text-gray-darker animated fadeIn">Clients</div>
                    <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">22</a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="font-w700 text-gray-darker animated fadeIn">Location</div>
                    <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Maricopa, AZ</a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="font-w700 text-gray-darker animated fadeIn">Organization</div>
                    <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Devereux AZ</a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="font-w700 text-gray-darker animated fadeIn">Supervisor</div>
                    <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Lisa Pompa</a>
                </div>                
            </div>
        </div>
        <!-- END Stats -->
    </div>
    <!-- END User Header -->

    <!-- Main Content -->
        <div class="block">
            <ul class="nav nav-tabs nav-justified push-20" data-js-tabs>
                <li class="active">
                    <a href="#tab-profile-personal"><i class="fa fa-fw fa-user-circle"></i> Personal</a>
                </li>
                <li>
                    <a href="#tab-profile-password"><i class="fa fa-fw fa-lock"></i> Manage Pin</a>
                </li>
            </ul>
            <div class="block-content tab-content">
                <!-- Personal Tab -->
                <div class="tab-pane fade in active" id="tab-profile-personal">
                    <div class="row items-push">
                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                            <div class="col-xs-12">
                                <label>Username</label>
                                <p class="h3 font-w300">jdoe</p>
                            </div>
                            <hr>
                            <div class="col-xs-6">
                                <label for="profile-firstname">Firstname</label>
                                <p class="h3 font-w300">John</p>
                            </div>
                            <div class="col-xs-6">
                                <label for="profile-lastname">Lastname</label>
                                <p class="h3 font-w300">Doe</p>
                            </div>
                            <div class="col-xs-12">
                                <label for="profile-bio">Organization</label>
                                <p class="h3 font-w300">Devereux AZ</p>
                            </div>
                            <div class="col-xs-12">
                                <label for="profile-bio">Role</label>
                                <p class="h3 font-w300">High Needs Case Manager</p>
                            </div>
                            <div class="col-xs-12">
                                <label for="profile-bio">Supervisor</label>
                                <p class="h3 font-w300">Lisa Pompa</p>
                            </div>
                            <div class="col-xs-6">
                                <label for="profile-email">Email Address</label>
                                <p class="h3 font-w300">john.doe@devereux.org</p>
                            </div>
                            <div class="col-xs-12">
                                <label for="profile-email">Work Phone</label>
                                <p class="h3 font-w300">520.369.2345</p>
                            </div>
                            <div class="col-xs-12">
                                <label for="profile-email">Cell Phone</label>
                                <p class="h3 font-w300">520.469.2345</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Personal Tab -->

                <!-- Password Tab -->
                <form>
                <div class="tab-pane fade" id="tab-profile-password">
                    <div class="row items-push">
                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="profile-password">Current Pin</label>
                                    <input class="form-control input-lg" type="password" id="profile-password" name="profile-password">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="profile-password-new">New Password</label>
                                    <input class="form-control input-lg" type="password" id="profile-password-new" name="profile-password-new">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="profile-password-new-confirm">Confirm New Password</label>
                                    <input class="form-control input-lg" type="password" id="profile-password-new-confirm" name="profile-password-new-confirm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>           
                <!-- END Password Tab -->
            </div>
        </div>
    <!-- END Main Content -->
</div>
<!-- END Page Content -->
</main>
<!-- END Main Container -->