<div class="block">
	<div class="block-content">
		<div class="content bg-gray-lighter">
		    <div class="row items-push">
		        <div>
		            <table class="table table-header-bg">
		                <thead>
		                    <tr>
		                        <th>Name</th>
		                        <th class="hidden-xs">Program</th>
		                        <th>Service Item</th>
		                        <th>PN Template Name</th>
		                        <th class="hidden-xs">Started Date</th>
		                        <th class="text-center" style="width: 10%;">Due Date</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td class="font-w600">
		                            <a data-toggle="modal" data-target="#modal-large" type="button">Carson Palmer</a>
		                        </td>
		                        <td class="hidden-xs">Community & Family Services</td>
		                        <td class="hidden-xs">Case Management</td>
		                        <td class="hidden-xs">CFT Note</td>
		                        <td class="hidden-xs">10/04/2017</td>
		                        <td class="text-center">
		                            <div class="btn-group">
		                                <a class="btn btn-md btn-warning" type="button" data-toggle="tooltip" title="Overdue">10/07/2017</a>
		                            </div>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>            
		        </div>
		    </div>
		</div>
		<form class="grid-form">
			<fieldset>
				<legend>Meeting details (Times, location, delivery method)</legend>
				<div data-row-span="7">
					<div data-field-span="3">
					<label>Start Date & Time</label>
					<h5>10/04/2017 8:15 AM</h5>
					</div>
					<div data-field-span="3">
					<label>End Date & Time</label>					
					<h5>10/04/2017 9:15 AM</h5>
					</div>
					<div data-field-span="1">
	                    <div class="col-xs-12">
	                        <label for="duration">Duration (units)</label>
	                        <h5>60 mins (4 units) </h5>
	                    </div>
					</div>
				</div>
				<div data-row-span="2">
					<div data-field-span="1">
						<label>Place Of Service</label>
						<h5>School</h5>
					</div>
					<div data-field-span="1">
						<label>Delivery Method</label>
						<h5>Face to Face</h5>
					</div>				
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<legend>Attendees present during service</legend>
				<div data-row-span="4">
					<div data-field-span="4">
			            <table class="table table-hover" data-js-table-checkable>
			                <thead>
			                    <tr>
			                        <th style="width: 30%">Name</th>
			                        <th class="hidden-xs" style="width: 20%;">Relationship</th>
			                        <th class="hidden-xs" style="width: 40%;">Contact Info</th>
			                    </tr>
			                </thead>
			                <tbody>
								<tr>
								    <th style="width: 30%">Jason Arrozo</th>
								    <th class="hidden-xs" style="width: 20%;">Social Worker / Case Manager </th>
								    <th class="hidden-xs" style="width: 40%;">(520) 665-1234, (520) 665-1235 </th>
								</tr>
								<tr>
								    <th style="width: 30%">Mark Christian</th>
								    <th class="hidden-xs" style="width: 20%;">Attorney </th>
								    <th class="hidden-xs" style="width: 40%;">(650) 555-1234 </th>
								</tr>
								<tr>
								    <th style="width: 30%"> Mark Johnson </th>
								    <th class="hidden-xs" style="width: 20%;">Father</th>
								    <th class="hidden-xs" style="width: 40%;">(620) 665-1235 </th>
								</tr>
			                </tbody>
			            </table>
					</div>				
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<legend>Team Members present during service</legend>
				<div data-row-span="4">
					<div data-field-span="4">
			            <table class="table table-hover" data-js-table-checkable>
			                <thead>
			                    <tr>
			                        <th style="width: 30%">Name</th>
			                        <th class="hidden-xs" style="width: 20%;">Relationship</th>
			                        <th class="hidden-xs" style="width: 40%;">Contact Info</th>
			                    </tr>
			                </thead>
			                <tbody>
								<tr>
								    <th style="width: 30%">Michelle Thomas </th>
								    <th class="hidden-xs" style="width: 20%;">Program Manager </th>
								    <th class="hidden-xs" style="width: 40%;">(520) 665-1234, (520) 665-1235 </th>
								</tr>
								<tr>
								    <th style="width: 30%">Eileen Markson </th>
								    <th class="hidden-xs" style="width: 20%;">Utilization Review </th>
								    <th class="hidden-xs" style="width: 40%;">(650) 555-1234 </th>
								</tr>
			                </tbody>
			            </table>
					</div>			
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<legend>Meeting Elements</legend>
				<div data-row-span="1">
					<div data-field-span="1">
						<label>Selected Meeting Elements</label>						
						<label><i class="fa fa-check"></i> Introductions</label><br>
						<label><i class="fa fa-check"></i> Review Confidentiality and its limits </label><br>
						<label><i class="fa fa-check"></i> Review meeting ground rules </label><br>
						<label><i class="fa fa-check"></i> Review today's meeting objectives </label> <br>
						<label><i class="fa fa-check"></i> Review and update SNCD </label><br>	
						<label><i class="fa fa-check"></i> Review supports / crisis plan </label><br>
					</div>
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<legend>Targeted Areas of Concern</legend>
				<div data-row-span="1">
					<div data-field-span="1">
						<label>Selected Targeted Areas of Concern</label>
						<label><i class="fa fa-check"></i> Basic needs / financial </label><br>
						<label><i class="fa fa-check"></i> Living situation </label><br>
						<label><i class="fa fa-check"></i> Crisis Safety</label><br>
						<label><i class="fa fa-check"></i> Medical</label><br>
						<label><i class="fa fa-check"></i> Legal</label><br>
						<label><i class="fa fa-check"></i> Transition to adulthood </label><br>
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<legend>Goal Selections</legend>
				<div data-row-span="1">
					<div data-field-span="1">
						<label>Selected Goals</label>
	                <table class="js-table-checkable table table-hover">
	                    <tbody>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td><p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla.</p>

	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>                                                
	                            <td><p>Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent.</p>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td><p>Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est.</p>

	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td><p>Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id.</p>

	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
					</div>
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<legend>Strength Selection</legend>
				<div data-row-span="1">
					<div data-field-span="1">
						<label>Selected Strengths</label>				
	                <table class="js-table-checkable table table-hover">
	                    <thead>
	                        <tr>
	                            <th>Code </th>
	                            <th>Description</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td>Succeeds at school
	                            </td>
	                            <td><p>Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac.</p>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td>Friendly
	                            </td>
	                            <td><p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus.</p>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td>Self confidence
	                            </td>
	                            <td><p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare.</p>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="text-center">
									<i class="fa fa-check"></i> 
	                            </td>
	                            <td>Insightful
	                            </td>
	                            <td><p>Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.</p>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            	</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="1">
					<legend>What are the strengths and progress noted since the last CFT meeting?</legend>
					<div data-field-span="1">
		                <div class="form-material floating">
		                    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque.</p>
		                </div>					
					</div>
					
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="1">
					<legend>Diagnosis Summary</legend>
					<div data-field-span="1">
						<table class="table table-vcenter">
			                <thead>
			                    <tr>
			                        <th>Diagnosis Code</th>
			                        <th>Description</th>
			                        <th>Active</th>
			                        <th class="hidden-xs">Diagnosis Date</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td>F34.81
			                        </td>
			                        <td>Disruptive Mood Dysregulation Disorder
			                        </td>
			                        <td>Active
			                        </td>
			                        <td>11/30/2002
			                        </td>
			                    </tr>
			                    <tr>
			                        <td>F12.20
			                        </td>
			                        <td>Cannabis Use Disorder, Severe
			                        </td>
			                        <td>Active
			                        </td>
			                        <td>11/30/2004
			                        </td>
			                    </tr>
			                    <tr>
			                        <td>F42.1
			                        </td>
			                        <td>Obsessive Complusive Disorder
			                        </td>
			                        <td>Inactive
			                        </td>
			                        <td>09/01/2001
			                        </td>
			                    </tr>
			                </tbody>
			            </table>
					</div>	
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="1">
					<legend>Medications Summary</legend>				
					<div data-field-span="1">
			            <table class="table table-vcenter">
			                <thead>
			                    <tr>
			                        <th>Medication Name</th>
			                        <th>Dose / Instructions</th>
			                        <th>Rx Date</th>
			                        <th>Rx for</th>
			                        <th>Active</th>
			                        <th class="hidden-xs">Prescriber</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td>Fluticasone
			                        </td>
			                        <td>50 mcg/actuation spary, suspension - 1 spray into both nostrils once a day
			                        </td>
			                        <td>06/30/2017
			                        </td>
			                        <td>Shortness of breath
			                        </td>
			                        <td>Yes</td>
			                        <td>Robert Pardee, DO, BHP</td>
			                    </tr>
			                    <tr>
			                        <td>Guanfacine
			                        </td>
			                        <td>1 mg tablet - 1 tablet by mouth three times a day
			                        </td>
			                        <td>06/30/2017
			                        </td>
			                        <td>Impulse Anxiety
			                        </td>
			                        <td>Yes</td>
			                        <td>Robert Pardee, DO, BHP</td>
			                    </tr>
			                    <tr>
			                        <td>Lithium Carbonate
			                        </td>
			                        <td>450 mg tablet extended release - 1 tablet by mouth twice a day
			                        </td>
			                        <td>06/30/2017
			                        </td>
			                        <td>Mood, Agitation
			                        </td>
			                        <td>Yes</td>
			                        <td>Robert Pardee, DO, BHP</td>
			                    </tr>
			                    <tr>
			                        <td>Seroquel
			                        </td>
			                        <td>100 mg tablet - 1 1/2 tablet by mouth at bedtime
			                        </td>
			                        <td>06/30/2016
			                        </td>
			                        <td>Mood, Agitation
			                        </td>
			                        <td>No</td>
			                        <td>Robert Pardee, DO, BHP</td>
			                    </tr>
			                </tbody>
			            </table>   					
					</div>	
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="1">
					<legend>Vitals Summary</legend>				
					<div data-field-span="1">
	                    <div class="col-lg-6">
	                        <!-- Bars -->
	                        <div class="block">
	                            <div class="block-content">
	                                <div class="row items-push-2x text-center">
	                                    <div class="col-xs-6 col-sm-4">
	                                        <!-- Sparkline Bar 1 Container -->
	                                        <span class="js-slc-bar1">23,24,20,22,23,25,24,25</span>
	                                        <div class="push-10-t"><i class="text-muted"></i> BMI</div>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-4">
	                                        <!-- Sparkline Bar 2 Container -->
	                                        <span class="js-slc-bar2">66,83,81,75,83,82,80,82</span>
	                                        <div class="push-10-t"><i class="text-muted"></i> Pulse (child)</div>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4">
	                                        <!-- Sparkline Bar 3 Container -->
	                                        <span class="js-slc-bar3">20,22,22,24,26,24,28,24</span>
	                                        <div class="push-10-t"><i class="text-muted"></i> Respiration</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- END Bars -->
	                    </div>
	                    <div class="col-lg-6">
	                        <!-- Lines -->
	                        <div class="block">
	                            <div class="block-content">
	                                <div class="row items-push-2x text-center">
	                                    <div class="col-xs-6 col-sm-4">
	                                        <!-- Sparkline Line 1 Container -->
	                                        <span class="js-slc-line1">134,140,116,128,116,140,145</span>
	                                        <div class="push-10-t"><i class="text-muted"></i> Weight</div>
	                                    </div>
	                                    <div class="col-xs-6 col-sm-4">
	                                        <!-- Sparkline Line 2 Container -->
	                                        <span class="js-slc-line2">64,64,64,64,64,64,64,64</span>
	                                        <div class="push-10-t"><i class="text-muted"></i> Height</div>
	                                    </div>
	                                    <div class="col-xs-12 col-sm-4">
	                                        <!-- Sparkline Line 3 Container -->
	                                        <span class="js-slc-line3">99,100,101,101,99,101,100,100</span>
	                                        <div class="push-10-t"><i class="text-muted"></i> Temperature</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- END Lines -->
	                    </div>
					</div>	
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="1">
					<legend>Health, Medical and Nutritional Concerns</legend>				
					<div data-field-span="1">
	                        <div class="form-material floating">
								<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque.</p>
	                        </div>
					</div>	
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="1">
					<legend>Brainstorming for the meeting (What are current areas of concern and unresolved challenges to increased family independence?)</legend>				
					<div data-field-span="1">
	                        <div class="form-material floating">
								<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque.</p>
	                        </div>
					</div>	
				</div>
			</fieldset>
			<br><br><br>
			<fieldset>
				<div data-row-span="2">
					<legend>Date and location of next review</legend>
					<div data-field-span="1">
                        <label for="example-datetimepicker1">Start Date & Time</label>
						<h5>10/04/2017 8:15 AM</h5>
	                </div>
					<div data-field-span="1">
						<label for="locationOfNextMeeting">Location of Next Meeting</label>						
						<h5>John's Home</h5>
					</div>
				</div>
			</fieldset>
			<br><br><br>
		</form>	
	</div>
</div>